

.comentarios .caja-contenedora{

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .caja{
        flex: 1 1 30rem;
        box-shadow: 0 .5rem 1.5rem rgba(0, 0 , 0 , .1);
        border-radius: .5rem;
        padding: 3rem 2rem ;
        position: relative;
        border: .1rem solid rgba(0,0,0,.1);

        .fa-quote-right{
            position: absolute; 
            bottom: 3rem;
            right: 3rem;
            font-size: 6rem;
            color: #eee;
        
        }

        .estrellas i{
            color: var(--pink);
            font-size: 2rem;
        }
        p{
            color: #999;
            font-size: 1.5rem;
            line-height: 1.5;
            padding-top: 2rem;
        }

        .usuario{
            display: flex;
            align-items: center;
            padding-top: 2rem;

            img{
                height: 6rem;
                width: 6rem;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 1rem;
            }

            h3{
                font-size: 2rem;
                color: #333;
            
            }

            span{
              font-size: 1.5rem;
              color: #999;
            }
        }
    }



}
 




