.footer {

    .caja-contenedora{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .caja{
            flex: 1 1 25rem;

            h3{
                color: #333;
                font-size: 2.5rem;
                padding: 1rem 0;
            }

            a{
                display: block;
                color: #666;
                font-size: 1.5rem;
                padding: 1rem 0;
                &:hover{
                    color: var(--pink);
                    text-decoration: underline;
                }
            }

            img{
                margin-top: 1rem;
                width: 20rem;
            }
        }

       
    }

    .credito{
        text-align: center;
        padding: 1.5rem;
        margin-top: 1.5rem;
        padding-top: 2.5rem;
        font-size: 2rem;
        color: #333;
        border-top: .1rem solid black;

        span{
            color: var(--pink);
        }
    
    }
    
}



